.swipeNav
  background-color red
  transition-duration 0.2s
  transition-timing-function ease-in-out
  height 100%
  display flex
  flex-flow row nowrap
  overflow-x hidden

.swipeNavItem
  color green
